
<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
        <h2 class="title-heading">Latest Articles</h2>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img/shopyfi.jpeg" alt="blog1">
          <h3>How to add Shopify Announcement bar (without an app)</h3>
          <p>by <span>Mamona Abdullah</span></p>
          <p>The Shopify announcement bar is an excellent way to promote a special discount offer, a sale, or another type of promotion at the top of your Shopify store. And there’s no need to pay a monthly fee for this feature. Simply paste a few lines of code into your theme and you’re done..</p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img/Angular-min.png" alt="blog1">
          <h3>Transpilation in Angular</h3>
          <p>by <span>Mamona Abdullah</span></p>
          <p>Transpilation = translate + compilation The Angular compiler translates the html template to super optimized JavaScript code. The typescript compiler compiles typescript code into JavaScript. Also Read: Difference between JavaScript and TypeScript: JavaScript vs Typescript Transpiling ..</p>
          <a href="#" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img/difference-between-javascript-and-typescript-javascript-vs-typeScript-scaled.jpg" alt="post1">
          <h3>Difference between JavaScript and TypeScript</h3>
          <p>by <span>Mamona Abdullah</span></p>
          <p>What is JavaScript? JavaScript is an object-based scripting language. JavaScript is the most popular programming language of HTML. It helps you to create interactive web pages which is lightweight and cross-platform. JavaScript is not designed for..</p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/img/MongoDb-final-banner.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Express JS.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Angualr.png" class="d-block w-100"alt="...">
            </div>
            <div class="carousel-item">
              <img src="assets/img/Node JS.png" class="d-block w-100 " alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>


      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img/cookies.jpeg" alt="post2">
          <h3>How to use cookies in angular</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>What is Cookies in Angular? Cookies are small packages of information that can be temporarily stored/saved by your browser and websites which are using cookies for multiple things. Cookies are used in multiple requests and browser sessions and can store..</p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img/Get-Current-Visitor-Location-using-HTML5-Geolocation-API-840x473.jpeg" alt="post3">
          <h3>How to Get Current Visitor Location using HTML5 Geolocation API</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>This feature Get Current Visitor Location helps to provide the website visitor with a better browsing experience. For instance, you can return search results which are close to the location of the user..</p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/img/mern.png" alt="post4">
          <h3>What is MERN Stack?</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>In the world of software development, MERN Stack is one of the most widely used technological stacks and a web development framework. we can create simple as well complex web applications using MERN (MongoDB, ExpressJS, ReactJS, and NodeJS)...</p>
          <a href="detail.html" class="btn btn-primary">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
