<section class="Singup-wrap mtb-40">
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login-box">
                <h1>User Login</h1>
                <div *ngIf="status=='success'; else errorStatus">
                <div class="alert alert-success" *ngIf="datasaved">
                   {{message}}
                </div>
              </div>
                <ng-template #errorstatus="">
                  <div class="alert alert-danger" *ngIf="datasaved">
                      {{message}}
                   </div>
              </ng-template>

                <form (ngsubmit)="onSubmit()" [formGroup]="loginForm">

                    <div class="form-group form-row">
                        <label class="col-md-3">Email ID <span class="required">*</span></label>
                        <div class="col-md-9">
                          <input type="text" formcontrolname="Email" class="form-control" placeholder="Email Id" required="">
                          <span *ngIf="!loginForm.get('Email').valid && loginForm.get('Email').touched">Please enter Email !!!</span>
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <label class="col-md-3">Password <span class="required">*</span></label>
                        <div class="col-md-9">
                          <input type="password" formcontrolname="Password" class="form-control" placeholder="Password" required="">
                          <span *ngIf="!loginForm.get('Password').valid && loginForm.get('Password').touched">Please enter Password !!!</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
      </div>

  </div>
</section>
