
<section class="blog-list mtb-40">
  <div class="container">
    <h1>Article List</h1>
    <div class="row">
        <div class="col-md-8">
          <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                  <div class="col-md-4">
                <img src="assets/img/shopyfi.jpeg" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>How to add Shopify Announcement bar (without an app)</h3>
                  <p>by <span>Pradeep Maurya</span></p>
                  <p>The Shopify announcement bar is an excellent way to promote a special discount offer, a sale, or another type of promotion...</p>
                  <a href="/article/1" class="readmore">Read more...</a></div> </div>
          </div>
            </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/img/Angular-min.png" alt="blog1">
              </div>
              <div class="col-md-8">
                <h3>Transpilation in Angular</h3>
                <p>by <span>Pradeep Maurya</span></p>
                <p>Transpilation = translate + compilation The Angular compiler translates the html template to super optimized JavaScript code...</p>
                <a href="/article/2" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/img/difference-between-javascript-and-typescript-javascript-vs-typeScript-scaled.jpg" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>Difference between JavaScript and TypeScript</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>What is JavaScript? JavaScript is an object-based scripting language. JavaScript is the most popular programming language of HTML...</p>
          <a href="/article/3" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/img/cookies.jpeg" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>How to use cookies in angular</h3>
                  <p>by <span>Pradeep Maurya</span></p>
                  <p>What is Cookies in Angular? Cookies are small packages of information that can be temporarily stored/saved by your browser ...</p>
                  <a href="/article/4" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/img/Get-Current-Visitor-Location-using-HTML5-Geolocation-API-840x473.jpeg" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>How to Get Current Visitor Location using HTML5 Geolocation API</h3>
          <p>by <span>Pradeep Maurya</span></p>
          <p>This feature Get Current Visitor Location helps to provide the website visitor with a better browsing experience...</p>
          <a href="/article/5" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                <img src="assets/img/images.jpeg" alt="blog1">
              </div>
              <div class="col-md-8">
                  <h3>What is MERN Stack?</h3>
                  <p>by <span>Pradeep Maurya</span></p>
                  <p>In the world of software development, MERN Stack is one of the most widely used technological stacks and a web development framework...</p>
                  <a href="/article/6" class="readmore">Read more...</a></div> </div>
              </div>
                </div>
        </div>
        <div class="col-md-4">
          <app-featured-articles></app-featured-articles>
          <app-categories></app-categories>

      </div>

    </div>
  </div>
</section>
